body {
  text-align: center;
  margin: 100px;
}

.animate {
  animation: blink 1s infinite alternate;
}

.animate-b {
  animation: blink2 1s infinite alternate;
}

@keyframes blink2 {
  from {
    background-color: white;
  }
  to {
    background-color: lightgreen;
  }
}

@keyframes blink {
  from {
    background-color: white;
  }
  to {
    background-color: lightcoral;
  }
}

button {
  padding: 10px 20px;
  margin-top: 20px;
}
